<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
 <localRepository>~/.m2/repository</localRepository> 
  <pluginGroups>
  </pluginGroups>
  <servers>
  </servers>
  <mirrors>	
  </mirrors>
  <profiles>
    <profile>
     <id>public</id>
     <repositories>
       <repository>
         <id>public1</id>
         <name>public1</name>
         <url>http://central.maven.org/maven2/</url>
       </repository>
	   <repository>
         <id>public2</id>
         <name>public2</name>
         <url>https://maven.repository.redhat.com/ga/</url>
       </repository>
	   <repository>
         <id>public3</id>
         <name>public3</name>
         <url>https://mvnrepository.com</url>
       </repository>
	   <repository>
         <id>public4</id>
         <name>public4</name>
         <url>https://repository.jboss.org/</url>
       </repository>
	   <repository>
         <id>public5</id>
         <name>public5</name>
         <url>https://repo1.maven.org/maven2/</url>
       </repository>	   
	   <repository>
         <id>public6</id>
         <name>public6</name>
         <url>https://mvnrepository.com/artifact</url>
       </repository>	   
     </repositories>
   </profile>   
  </profiles>
  <activeProfiles><activeProfile>public</activeProfile>
  </activeProfiles>
</settings>
